.nav-bar {
  background-image: linear-gradient(to right top, #000000, #110f10, #1a1a1b, #232325, #2b2d30);
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: #9333d8;
    margin: 0;
  }
}
